/* Polices des textes */

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
  	font-style: normal;
  	font-display: swap;
}

@font-face {
  	font-family: 'Poppins-SemiBold';
  	src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  	font-weight: 600;
  	font-style: normal;
  	font-display: swap;
}

@font-face {
  	font-family: 'Poppins-Light';
  	src: url('../fonts/Poppins-Light.ttf') format('truetype');
  	font-weight: 300;
  	font-style: normal;
  	font-display: swap;
}

.montserrat-bold {
  	font-family: 'Montserrat', system-ui, sans-serif;
  	font-weight: 700;
}

.poppins-semibold {
  	font-family: 'Poppins', system-ui, sans-serif;
  	font-weight: 600;
}

.poppins-light {
  	font-family: 'Poppins', system-ui, sans-serif;
  	font-weight: 300;
}

/* Style global */

:root {
	--rouge-cerise: #D70B57;
	--blanc-pur: #FFFFFF;
	--bleu-nuit-transparent:  rgba(29, 59, 124, 0.25);
	--fuchsia-clair-transparent: rgba(215, 11, 87, 0.25);
	--noir-pur: #000000;
	--gris-clair: #F0F0F0;
	--bleu-nuit: #1D3B7C;
	--bleu-marine-fonce: #172F65;
}

html, body {
  	overflow-x: hidden;
}

.tooltip {
	font-family: 'Poppins', system-ui, sans-serif;
	font-weight: 300;
    font-size: 14px;
    border-radius: 10px;

	/* Variables Bootstrap surchargées */

    --bs-tooltip-bg: var(--bleu-nuit);
    --bs-tooltip-color: var(--blanc-pur);
}

/* Style de la page de chargement */

.html-page-chargement {
	overflow-y: hidden;
}

.body-page-chargement {
	background-color: var(--rouge-cerise);
	height: 100vh; 
	margin: 0;
}

.body-page-chargement .logo-de-la-plateforme {
	height: 150px;
	object-fit: cover;
}

/* Style de la bannière image des pages */

.banniere-image-pages {
	position: relative;
  	height: 60vh;
	min-height: 400px;
	max-height: 400px;
  	overflow: hidden;
}

.banniere-image-pages img {
  	height: 100%;
  	object-fit: cover;	
}

.body-pages-juridiques .banniere-image-pages .overlay-de-la-banniere-image {
  	background-color: var(--bleu-nuit-transparent);
}

.body-page-a-propos-de-nous .banniere-image-pages .overlay-de-la-banniere-image {
  	background-color: var(--fuchsia-clair-transparent);
}

/* Style de la page à propos de nous */

.body-page-a-propos-de-nous .section-de-couleur-rouge-cerise {
	background-color: var(--rouge-cerise);
}

.body-page-a-propos-de-nous a.btn {
  	border-radius: 100px;
  	padding: 8px 6px;
  	border: none;
}

.body-page-a-propos-de-nous .button-de-couleur-blanche {
	background-color: var(--blanc-pur);
	color: var(--noir-pur);
}

.body-page-a-propos-de-nous .button-de-couleur-blanche:hover {
	background-color: var(--gris-clair);
}

.body-page-a-propos-de-nous .button-de-couleur-bleu {
	background-color: var(--bleu-nuit);
	color: var(--blanc-pur);
}

.body-page-a-propos-de-nous .button-de-couleur-bleu:hover {
	background-color: var(--bleu-marine-fonce);	
}

.body-page-a-propos-de-nous main img {
	width: 100%;
  	height: 220px;
  	object-fit: contain;
  	border-radius: 8px;
}

/* Style des pages juridiques */

.body-pages-juridiques {
	background-color: var(--blanc-pur);
	color: var(--noir-pur);
}

.body-pages-juridiques main p {
	text-align: justify;
	text-justify: inter-word;
	hyphens: auto;
}

.body-pages-juridiques main a {
	text-decoration: none;
	color: var(--bleu-nuit);
}

.body-pages-juridiques main a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Style des pages d'authentification */

.body-pages-authentification p {
	hyphens: auto;
}

.body-pages-authentification .paragraphe-de-confirmation {
	font-size: small;
}

.body-pages-authentification a {
	text-decoration: none;
	color: var(--bleu-nuit);
}

.body-pages-authentification a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.body-pages-authentification .button-de-couleur-bleu {
	background-color: var(--bleu-nuit);
	color: var(--blanc-pur);
  	border-radius: 100px;
  	padding: 8px 6px;
  	border: none;
}

.body-pages-authentification .button-de-couleur-bleu:hover {
	background-color: var(--bleu-marine-fonce);	
}

.body-pages-authentification .bouton-de-visibilite-du-mot-de-passe {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;

	/* Variables Bootstrap surchargées */

	--bs-btn-color: var(--bleu-marine-fonce);
    --bs-btn-border-color: var(--bleu-marine-fonce);
    --bs-btn-hover-color: var(--blanc-pur);
    --bs-btn-hover-bg: var(--bleu-marine-fonce);
    --bs-btn-hover-border-color: var(--bleu-marine-fonce);
    --bs-btn-active-color: var(--blanc-pur);
    --bs-btn-active-bg: var(--bleu-marine-fonce);
    --bs-btn-active-border-color: var(--bleu-marine-fonce);
    --bs-btn-disabled-color: var(--bleu-marine-fonce);
    --bs-btn-disabled-border-color: var(--bleu-marine-fonce);
}

.body-pages-authentification .form-control {
	padding:14px;
	border-radius:10px;
    border: 0.1px solid var(--gris-clair) !important;
    box-shadow: none !important;
}

.body-pages-authentification .form-control:focus {
    border: 0.1px solid var(--bleu-marine-fonce) !important;
    box-shadow: none !important;
    outline: none !important;
}

.body-pages-authentification .message-erreur {
	font-size: small;
	color: var(--rouge-cerise) !important;
}

.body-pages-authentification .bloc-gauche-ou-haut-de-couleur {
	background: var(--rouge-cerise);
	min-height: 100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	text-align:center;
	padding:40px;
}

.body-pages-authentification .bloc-gauche-ou-haut-de-couleur img {
	max-width:250px;
}

@media (max-width: 991px) {

	/* Reduire le bloc de couleur */

	.body-pages-authentification .bloc-gauche-ou-haut-de-couleur {
		min-height: 30vh;   
		padding: 20px;
	}

  	/* Reduire le logo du bloc de couleur */

	.body-pages-authentification .bloc-gauche-ou-haut-de-couleur img {
		max-width: 140px;
	}

}
